{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Current Weather{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>{{ data[0]['city_name'] }}, {{ data[0]['city_country'] }}</h1>
  {% for d in data %}
    <article class="weather data">
      <header>
        <div>
          <div class="about">Last Updated: {{ d['lastupdate_value_f']}}  </div>
        </div>
      </header>
      <p class="body">Temperature: {{ d['temperature_value'] }}, Max Temp: {{ d['temperature_max'] }}, Min Temp: {{ d['temperature_min'] }}</p>
      <div>
          <div class="about">Timestamp(unix): {{ d['forecast_timestamp_f']}}  </div>
        </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}