{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cities{% endblock %}</h1>


{% endblock %}

{% block content %}
<h1>City Name, Country, Coordinates</h1>
<a class="action" href="{{ url_for('cityTable.add') }}" >Add City</a>
  {% for city in cities %}
    <article class="cites">
      <header>
        <div>
          <h1>{{ city['city_name'] , city['city_country'] , city['city_coord_lat'] , city['city_coord_long'] }}</h1>
          <a class="action" href="{{ url_for('cityTable.current_weather', id=city['city_id']) }}">Current Weather</a>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}